@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.sidenav {
    width: 15%;
}

mat-sidenav-content {
    min-height: 100vh;
}

mat-nav-list a {
    margin-top: 20px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.3em;
}

mat-nav-list a mat-icon {
    margin-right: 10px;
    transition: all 0.5s ease;
}

mat-nav-list a:hover mat-icon {
    color: crimson;
}