<section>
    <h3><span>C</span>ats</h3>

    <p *ngIf="cats.length===0">No Cats Registered</p>

    <table *ngIf="cats.length>0" mat-table [dataSource]="cats" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- IC Column -->
        <ng-container matColumnDef="ic">
            <th mat-header-cell *matHeaderCellDef> Intelectual Coeficcent </th>
            <td mat-cell *matCellDef="let element"> {{element.ic}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.ready ? 'Ready' :'Not Ready'}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="deleteCat(element.id)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCats"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCats;"></tr>
    </table>

    <button *ngIf="cats.length>0" class="clean-button" (click)="sendCatsToCleansed()" mat-raised-button>Send to Cleansed Center</button>


</section>


<section>
    <h3><span>D</span>ogs</h3>

    <p *ngIf="dogs.length===0">No Dogs Registered</p>
    <table *ngIf="dogs.length>0" mat-table [dataSource]="dogs" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- IC Column -->
        <!--   <ng-container matColumnDef="performance">
            <th mat-header-cell *matHeaderCellDef> Performance </th>
            <td mat-cell *matCellDef="let element"> {{element.performance}} </td>
        </ng-container> -->

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.ready ? 'Ready':'Not Ready'}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button (click)="deleteDog(element.id)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDogs"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDogs;"></tr>
    </table>

    <button *ngIf="dogs.length>0" class="clean-button" mat-raised-button (click)="sendDogsToCleansed()">Send to Cleansed Center</button>


</section>