<section class="center">
    <h3> <span>C</span>ats</h3>

    <p *ngIf="readyCats.length===0">No Cats to be Adopted</p>

    <table *ngIf="readyCats.length>0" mat-table [dataSource]="readyCats" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- IC Column -->
        <ng-container matColumnDef="ic">
            <th mat-header-cell *matHeaderCellDef> Intelectual Coeficcent </th>
            <td mat-cell *matCellDef="let element"> {{element.ic}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumnsCats"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCats;"></tr>
    </table>




</section>


<section class="dogs-content center">
    <h3> <span>D</span>ogs</h3>

    <p *ngIf="readyDogs.length===0">No Dogs to be Adopted</p>
    <table *ngIf="readyDogs.length>0" mat-table [dataSource]="readyDogs" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- IC Column -->
        <!--   <ng-container matColumnDef="performance">
            <th mat-header-cell *matHeaderCellDef> Performance </th>
            <td mat-cell *matCellDef="let element"> {{element.performance}} </td>
        </ng-container> -->



        <tr mat-header-row *matHeaderRowDef="displayedColumnsDogs"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDogs;"></tr>
    </table>




</section>