<section>
    <h3>Cats</h3>
    <table mat-table [dataSource]="catsCleansed" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- IC Column -->
        <ng-container matColumnDef="ic">
            <th mat-header-cell *matHeaderCellDef> Intelectual Coeficcent </th>
            <td mat-cell *matCellDef="let element"> {{element.ic}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.ready ? 'Ready' :'Not Ready'}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumnsCats"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCats;"></tr>
    </table>

    <button class="clean-button" (click)="sendToCleansed()" mat-stroked-button color="primary">Send to Cleansed Center</button>


</section>